:host ::ng-deep .rutina-container {
    background-image: url('assets/rojoenllamas.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 1;
  }
  
  .comidas-lista {
    list-style: none;
    padding: 1rem;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
    position: relative;
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .generador-btn {
    display: block;
    margin: 1rem auto;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: relative;
  }
  
  .cloud-image {
    background: url('/assets/dialogo.png') no-repeat center center;
    background-size: contain;
    width: 610px;
    height: 510px;
    position: absolute;
    top: 130px;
    left: -110px;
    z-index: 3;
  }
  
  .text-dialog {
    background: url('/assets/dialog_cloud_background.png') no-repeat center center;
    background-size: contain;
    padding: 16px;
    width: 283px;
    height: 160px;
    position: absolute;
    top: 45px;
    left: calc(50% - 140px);
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: black;
    z-index: 4;
  }
  
  .coordinator-layout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: transparent;
    z-index: 2;
  }
  